# ------------------------
# Python Environment Files
# ------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
*.env
**/.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# VSCode / IDE settings
.vscode/
.idea/

# macOS / Windows system files
.DS_Store
Thumbs.db

# Generated data
*.gnv

 Notebook/*.csv
 Notebook/amazon_chroma_db/
 Notebook/chroma_db/